.projImg{
    max-width: 20rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
   
}
.projCard{
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
   border: solid;
   border-color: black;   
}

.projIcons{
    font-size:40px;

}

.textDescript{
    margin: 2rem;
    display:none;
}

.textDescript.active {
    margin: 2rem;
    padding: 2rem;
    display:block;    
    background: rgba(60, 64, 61, 0.52);
    color: white;
    border-radius: 15px;    
}

.expandBtn{
    width: 150px;
    height: 30px;
    left: 98px;
    top: calc(50% - 49px/2 - 112px);

    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #682A86;
    box-sizing: border-box;
    border-radius: 15px;
}