.projImg{
    max-width: 20rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
   
}
.projCard{
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
   border: solid;
   border-color: black;   
}

.projIcons{
    font-size:40px;

}

.textDescript{
    margin: 2rem;
    display:none;
}

.textDescript.active {
    margin: 2rem;
    display:block;
    
    
}