body{
  background: rgba(163, 188, 182, 0.5);
  color: #3C403D;  
}
p {
  font-size: 1.5rem;
  
  font-family: 'Open Sans', sans-serif;
}
a{
  color:#3C403D;
}
.mainContent{
  padding: 20px;
}
.profPic{
  width: 320px;
  align-self: auto;
  border-style: solid;
  border-color: #651F86;
  margin-left: 30px;
  margin-right: 30px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.aboutMe{
  
  margin-right: 25px;
  text-align: center;
  font-size: large;
  padding: 20px;

}

.contactCard{
  size: 8rem;
  margin-top: auto;
  color: #3C403D;
  text-align: center;
  font-size: larger; 
}
.ContactIcon{
  font-size: 30px;

}
